@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: theme('colors.white');
  --foreground: theme('colors.gray.800');
}

.dark:root {
    --background: theme('colors.black');
    --foreground: theme('colors.gray.50');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition-property: color;
  transition-duration: 200ms;
  transition-property: background-color;
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --animate-slide-in: slide-in 0.35s ease-in-out;

  @keyframes slide-in {
    0% {
      opacity: 0%;
      transform: translateY(15px);
    }
    100% {
      opacity: 100%;
      transform: translateY(0px);
    }
  }

  --animate-slide-out: slide-out 0.35s ease-in-out;

  @keyframes slide-out {
    100% {
      opacity: 0%;
      transform: translateY(-15px);
    }
  }

  --animate-scale-in: scale-in 0.2s ease-in-out;

  @keyframes scale-in {
    0% {
      opacity: 0%;
      transform: scale(95%);
    }

    100% {
      opacity: 100%;
      transform: scale(100%);
    }
  }

  --animate-scale-out: scale-out 0.2s ease-in-out forwards;

  @keyframes scale-out {
    0% {
      opacity: 100%;
      transform: scale(100%);
    }
    
    100% {
      opacity: 0%;
      transform: scale(90%);
    }
  }
}